.info {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 44px;



  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 740px) {
    width: 37%;
    height: 400px;
  }

  @media screen and (min-width: 1350px) {
    width: 420px;
    margin-right: 44px;
  }

  &:last-child {
    margin-right: 0;
  }

  &--wide {
    width: 100%;

    @media screen and (min-width: 740px) {
      width: 61%;
    }

    @media screen and (min-width: 1350px) {
      width: 890px;
    }

    .info__content {
      &-title {

        color: $classic-white;
        font-family: $fontTeko;
        font-size: 48px;
        font-weight: 500;
        line-height: 0.9;
        text-transform: uppercase;
        letter-spacing: 2.73px;

        @media screen and (min-width: 480px) {
          font-size: 68px;
        }


        @media screen and (min-width: 740px) {
          position: absolute;
          top: 40px;
          left: 45px;
        }

        @media screen and (min-width: 1105px) {
          top: 100px;
          left: 145px;
          width: 400px;
        }

        &--full {
          max-width: 500px;
        }
      }

      &-discount {
        color: $classic-white;
        font-family: $fontTeko;
        font-size: 45px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;

        @media screen and (min-width: 480px) {
          font-size: 78px;
        }

        @media screen and (min-width: 740px) {
          position: absolute;
          right: 30px;
          bottom: 20px;
          max-width: 143px;
        }

        @media screen and (min-width: 1100px) {
          right: 68px;
          bottom: 73px;
        }

        &--small {
          color: $classic-white;
          font-family: $fontTeko;
          font-size: 43px;
          font-weight: 500;
          line-height: 1;
          text-transform: uppercase;
        }
      }
    }
  }

  &--medium {
    width: 100%;

    @media screen and (min-width: 740px) {
      width: 38%;
    }

    @media screen and (min-width: 1350px) {
      width: 530px;
    }
  }

  &--large {

    width: 100%;

    @media screen and (min-width: 740px) {
      width: 60%;
    }

    @media screen and (min-width: 1350px) {
      width: 780px;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    display: block;
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($primary-blue, 0.75);
    transition: opacity 0.2s ease-in;

    padding: 30px;

    @media (min-width: 992px) {
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }


    @media screen and (min-width: 740px) {
      padding: 0;
    }

    &-title {
      color: $classic-white;
      font-family: $fontTeko;
      font-size: 38px;
      font-weight: 500;
      line-height: 0.9;
      text-transform: uppercase;
      letter-spacing: 2.73px;
      display: block;
      margin-bottom: 50px;

      @media (min-width: 480px) {
        font-size: 42px;
      }

      @media screen and (min-width: 740px) {
        position: absolute;
        top: 50px;
        left: 45px;
      }

      @media screen and (min-width: 980px) {
        width: 300px;
      }
    }

    &-discount {
      max-width: 143px;
      color: $classic-white;
      font-family: $fontTeko;
      font-size: 40px;
      font-weight: 700;
      line-height: 0.9;
      text-transform: uppercase;

      @media screen and (min-width: 480px) {
        font-size: 60px;
      }

      @media screen and (min-width: 740px) {
        position: absolute;
        right: 30px;
        bottom: 33px;
      }

      &--small {
        color: $classic-white;
        font-family: $fontTeko;
        font-size: 35px;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
      }
    }

  }
}