*,
*:before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: $classic-white;
  background-color: $primary-gray;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}