.products
  padding-top: 61px
  &__title
    color: #f1f1f1
    font-family: $fontTeko
    font-size: 53px
    font-weight: 700
    line-height: 1.32
    text-transform: uppercase
    margin-bottom: 45px
    text-align: center
  &__filter
    display: flex
    justify-content: center
    border-bottom: 1px solid #b2b2b2
    padding-bottom: 45px
    margin-bottom: 75px
    &-item
      text-decoration: none
      color: #f1f1f1
      font-size: 21px
      font-weight: 600
      line-height: 1.3
      margin-right: 45px
      transition: color 0.2s ease-in
      &:last-child
        margin-right: 0
      &--active
        color: #0077ff
      &:hover
        color: #0077ff
  &__row
    display: flex
    justify-content: space-between
    flex-wrap: wrap
.product      
  &-card
    background-color: #fff
    width: 30%  
    text-align: center
    padding: 0 15px 25px 15px
    margin-bottom: 60px
    &__img
      height: 380px
      display: flex
      justify-content: center
      align-items: center
    &__title
      color: #262626
      font-size: 21px
      font-weight: 600
      line-height: 1.1px
      height: 70px
      display: flex
      justify-content: center
      align-items: center
    &__price
      color: $primary-blue
      font-size: 30px
      font-weight: 700
      line-height: 1.25

