.top-info {
  padding-top: 44px;
  padding-bottom: 61px;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}